@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blatant";
  src: url("/fonts/Blatant.otf") format("opentype");
}

@font-face {
  font-family: "Busorama";
  src: url("/fonts/busorama.ttf") format("truetype");
}

@font-face {
  font-family: "RetroCouture";
  src: url("/fonts/retrocouture.otf") format("opentype");
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #f6e2b1;
  --accent: #a5876b;
  --highlight: #f46930;
  --dblue: #223560;
  --ldblue: #384669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 80 80'%3E%3Cg fill='%23a5876b' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--yellow);
  font-family: Arial, Helvetica, sans-serif;
}

.navbtn {
  box-shadow: 3px 3px 0px 0px var(--dblue);
}
.navbtn:hover {
  box-shadow: 1px 1px 0px 0px var(--dblue);
}

.abtus {
  text-shadow: 6px 4px 0px var(--dblue); /* Adjust color and opacity as needed */
}

footer,
.loading-bg {
  background-color: #223560;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 80 80'%3E%3Cg fill='%23384669' fill-opacity='0.62'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* styles.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#modal {
  opacity: 0;
  visibility: hidden; /* Prevents click events when hidden */
  transition: visibility 0s linear 0.3s; /* Delay visibility hiding to match fade-out */
}

#modal.fade-in {
  animation: fadeIn 0.3s forwards; /* 0.3s for the animation duration */
  opacity: 1;
  visibility: visible; /* Ensure modal is visible */
}

#modal.fade-out {
  animation: fadeOut 0.3s forwards;
  opacity: 0;
  transition: visibility 0s linear 0.3s;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#modalDabba,
.dblue-shadow {
  box-shadow: 10px 10px 0px var(--dblue);
}

.text-shadow {
  text-shadow: 8px 10px 0px var(--dblue);
}

.text-shadow-accent {
  text-shadow: 4px 4px 0px #a5876ba1;
}

/* Keyframes for fade-in and fade-out animations */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Fade-in class */
.fadeIn {
  opacity: 1;
  animation: fadeInAnimation 0.5s ease forwards;
  pointer-events: auto; /* Makes the element interactable */
  visibility: visible;
}

/* Fade-out class */
.fadeOut {
  opacity: 0;
  animation: fadeOutAnimation 0.5s ease forwards;
  pointer-events: none; /* Makes the element non-interactable */
  visibility: hidden;
}
